// breakpoints
$tablet: 768px;
$desktop: 1440px;

// colors
$color-purple-600: hsl(246, 80%, 60%);
$color-orange-300: hsl(15, 100%, 70%);
$color-blue-300: hsl(195, 74%, 62%);
$color-pink-400: hsl(348, 100%, 68%);
$color-green-400: hsl(145, 58%, 55%);
$color-purple-700: hsl(264, 64%, 52%);
$color-yellow-300: hsl(43, 84%, 65%);
$color-navy-950: hsl(226, 43%, 10%);
$color-navy-900: hsl(235, 46%, 20%);
$color-purple-500: hsl(235, 45%, 61%);
$color-navy-200: hsl(236, 100%, 87%);
$color-white: hsl(0, 0%, 100%);
$color-footer: hsl(228, 45%, 44%);

// spacing
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;

// radius
$radius-cards: 15px;
$radius-img: 50%;

// typography
$fs-hours: clamp(2rem, 4vw, 3.5rem);
$lh-hours: 1.18;
$fw-hours: 300;

$fs-title: clamp(1.5rem, 5vw, 2.5rem);
$lh-title: 1.18;
$fw-title: 300;

$fs-body: 1.125rem;
$lh-body: 1.17;
$fw-body: 400;

$fs-small: 0.9375rem;
$lh-small: 1.2;
$fw-small: 500;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: $color-navy-950;
  color: $color-white;
  min-height: 100vh;
  display: grid;
  place-items: center;
  letter-spacing: 0;
}

.container {
  max-width: 327px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-300;
}

.card-profil {
  background-color: $color-navy-900;
  border-radius: $radius-cards;

  .profil-content {
    background-color: $color-purple-600;
    border-radius: $radius-cards;
    padding: $spacing-400;
    display: flex;
    align-items: center;
    gap: $spacing-300;

    .img-profil {
      border: 3px solid $color-white;
      border-radius: $radius-img;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      gap: $spacing-100;

      .profil-paragraph {
        font-size: $fs-small;
        line-height: $lh-small;
        font-weight: $fw-title;
      }

      .profil-title {
        font-size: $fs-title;
        line-height: $lh-title;
        font-weight: $fw-title;
      }
    }
  }
}

.nav ul {
  padding: $spacing-300 0;
  display: flex;

  .box-btn-nav {
    max-width: 33.34%;
    width: 100%;
    text-align: center;
  }

  .nav-btn {
    color: $color-purple-500;
    font-size: $fs-body;
    line-height: $lh-body;
    font-weight: $fw-body;

    &:hover {
      color: $color-white;
    }

    &.active {
      color: $color-white;
    }
  }
}
#cards-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
}

.card {
  border-radius: $radius-cards;
  max-width: 20.4375rem;
  width: 100%;
  min-height: 10rem;
}

.card-body {
  background-color: $color-navy-900;
  border-radius: $radius-cards;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;

  a {
    color: $color-footer;
  }
}

@media (min-width: $tablet) {
  // tablet
}

@media (min-width: $desktop) {
  // desktop
}
